body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#grid {
    display: grid;
    margin-bottom: 1rem;
    border: 1px solid black;
    /*
     * TODO:
     * change this code !
     * not all the maps are 10x10, so your job is to alter
     * these settings from the JS code, once the map size is known
     */
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(10, 20px);

    &>.pixel {
        width: 100%;
        height: 100%;
        margin: 0px;
    }
}

#connect-dialog {
    margin-top: 1em;
    & > * {
        margin: 1em 2em;
        background-color: rgb(200, 240, 213);
        padding: 10px 20px;
        border-radius: 0.5em;
    }
    :first-child > input {
        width: 40ex;
    }

}